{% load staticfiles %}
{% load static %}

<script src="{% static 'js/lab8.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div id='lab8'></div>
<button class="login" onclick="facebookLogin()">Login</button>