{% load staticfiles %}
{% load static %}

<header>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
</header>

<div id="dashboard" style="text-align: center;">
	<h1 style="font-family: 'Spectral SC', serif; color: #31708f;">Monster Energy</h1>
	<img src="https://i.ytimg.com/vi/NRfV8Sy9Xr0/maxresdefault.jpg" class="img-circle" width=300 length=300>
	<div class="alert alert-info" style="background-color: white; border-style: none">
		<div style="font-family: 'Spectral SC', serif;">
			<h2><strong>About</strong></h2>
			<h3>Perusahaan ini bergerak di bidang blablablabla Monster Energy Gaming LUL</h3>
		</div>
	</div>
</div>


<div id="button" style="text-align: center; font-family: 'Spectral SC', serif;">
	<button type="button" class="btn btn-info">Login Perusahaan</button>
</div>

<br>

<div style="text-align: center;" class="img-responsive">
	<img src="https://herosetyanofario.files.wordpress.com/2011/10/manchester-united-wallpapers-mufc-1.jpg" class="img-thumbnail img-responsive" width=300 length=300>
	<br>
	<img src="https://nbcprosoccertalk.files.wordpress.com/2014/06/manchesterunited1.jpg" class="img-thumbnail img-responsive" width=300 length=300>
</div>
