{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> My Friend</h2>
                    <div id="friend-list" class="list-group">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list' %}",
                success: function (response) {
                    friends = response.results;
                    for (i = 0; i < friends.length; i++) {
                        html = '<a class="list-group-item clearfix" id="friends-' + friends[i].id + '">' +
                            friends[i].friend_name + ' (' + friends[i].npm + ')' +
                            '<span class="pull-right">' +
                            '<span class="btn btn-xs btn-default" onClick=removeFriend(' + friends[i].id + ')>' +
                            'Hapus teman</span></span></a>';
                        $("#friend-list").append(html)
                    }
                },
                error: function(error){
                    console.log("Error");
                }
            });
        });

        var removeFriend = function(id) {
            $.ajax({
                method: "POST",
                url : "/lab-7/delete-friend/"+id+"/",
                success: function() {
                    $("#friends-"+id).remove();
                }
            });
        }
    </script>
{% endblock %}
